@import "tailwindcss";

@theme {
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0A0B0E;
}

::-webkit-scrollbar-thumb {
  background: #2A2E37;
  border-radius: 5px;
  border: 2px solid #0A0B0E;
}

::-webkit-scrollbar-thumb:hover {
  background: #F27D26;
}